*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: #f5f5f5;
    color: #fff;
}

.header{
    padding-right: 100px;
    padding-left: 40px;
    height: 34px;
    font-size: 80%;
    background: #ee4d2d;
}

.header a{
    color: #fff;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 250px;
}

.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-center-contact{
    display: flex;
    gap: 5px;
}

.navbar-center-contact-icons{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 34px;
}

.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification-container-btn{
    display: flex;
    gap: 5px;
}

.help-center-container-btn{
    display: flex;
    gap: 5px;
}

.language-container-btn{
    display: flex;
    gap: 5px;
}

.language-container-btn i:last-child{
    margin-top: 3px;
}

.user-nav{
    position: relative;
    display: inline-block;
}

.user-nav .user-logo{
    display: flex;
    gap: 5px;
}

.user-nav-dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 100px;
    background-color: #fff;
    right: 0px;
    top: 20px;
    border-radius: 3px;
    border: 1px solid #6b6f66;
}

.dropdown-items-container{
    display: flex;
    flex-direction: column;
    height: 100px;
    font-size: 120%;
    padding-left: 5px;
    justify-content: space-around;
    align-items: flex-start;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-item:hover{
    opacity: 0.6;
}

.dropdown-items-container a{
    color: #3d3a36;
}

.user-nav:hover .user-nav-dropdown{
    display: block;
}

.searchbar-container{
    width: 100vw;
    height: 100.8px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 180px;
}

.logo-image{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ee4d2d;
}

.logo-image i{
    font-size: 250%;
}

.logo-image span{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.logo-title{
    border-left: 1px solid #ee4d2d;
    color: #ee4d2d;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}

.products-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.products-container .buyer-details-container{
    margin-top: 20px;
    margin-left: 150px;
    background-color: #fff;
    width: 1200px;
    height: fit-content;
    color: #222;
}

.buyer-details-container .delivery-address-text{
    width: 100%;
    color: #ee4d2d;
    font-size: 18px;
    line-height: 16px;
    height: 32px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.buyer-details-container .buyer-details{
    padding-left: 50px;
    width: 100%;
    padding-bottom: 20px;
}

.buyer-details-container .buyer-details tr .buyer-detail-col2{
    text-align: center;
}

.buyer-detail-col2 input{
    height: 24px;
}

.buyer-details-container .buyer-details tr .buyer-detail-col3{
    text-align: center;
}

.buyer-detail-col3 input{
    width: 300px;
    height: 24px;
}

.buyer-details tr{
    height: 50px;
}



.products-container #product-table{
    margin-top: 20px;
    margin-left: 150px;
    background-color: #fff;
    width: 1200px;
    height: fit-content;
}

#product-table .table-head{
    width: 100%;
    color: #222;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
}

.table-head td{
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
}

.table-head td:first-child{
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    width: 50%;
}

#product-table #product-infos{
    width: 100%;
    color: #222;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
}

#product-infos .item-detail{
    width: 100%;
    color: #222;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
}

.item-detail td{
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;
    color: #222;
    padding-bottom: 25px;
    font-size: 14px;
}

.item-detail td:first-child{
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 600px;
    color: #222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}


.item-detail img{
    width: 40px;
    height: 40px;
}

.item-detail .itemQuantity input{
    width: 50px;
    height: 32px;
    padding-left: 19px;
}

.item-detail .itemQuantity button{
    width: 32px;
    height: 32px;
}



.item-detail .delete-btn button{
    width: 50px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #6b6f66;
    background-color: #ee4d2d;
    color: #fff;
    cursor: pointer;
}



.delete-btn button:hover{
    opacity: 0.9;
}

#product-table #product-pay{
    color: #222;
}

#product-pay td{
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 120%;
    text-align: end;
}

#product-pay td button{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 80%;
    margin-left: 10px;
    color: #fff;
    background-color: #ee4d2d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-pay td button:hover{
    opacity: 0.9;
}


.footer-container{
    width: 1200px;
    height: 231.4px;
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    margin-top: 200px;
    gap: 50px;
}
.footer-container .policies{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 80%;
}

.policies .policy-item{
    color: #7e9cb7;     
}

.footer-container .certificate{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 70%;
    color: #6b6f66;
}

.certificate .certificate-images{
    display: flex;
    gap: 30px;
}

.certificate-images img{
    width: 120px;
    height: 45px;
}

.footer-container .web-infos{
    font-size: 70%;
    color: #6b6f66;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
    padding-bottom: 50px;
}